* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(-160deg, #100c3b 4%, #254ea2 90%);
}

body {
    /* background: linear-gradient(-160deg, #100c3b 4%, #254ea2 90%); */
    background: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
place-items: center;
    overflow: hidden;
}

header {
    font-family: 'Atma';
    color: #FFFFFF;
    font-weight: 600;
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Atma';
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    width: 495px;
    line-height: 44px;
}

.stores_container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center; 

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li {
    font-family: 'Atma';
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}



.content {
    width: 960px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

@media only screen and (max-width: 960px) {
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 30px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        font-family: 'Atma';
        line-height: 40px;
        font-size: 40px;
        margin-bottom: 30px;
    }
    h1 {
        width: auto;
        font-family: 'Atma';
    font-size: 30px;
    line-height: 34px;
    }
    li {
        font-size: 14px;
        line-height: 14px;
    }
}
